<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Seed App</title>
    <link rel="stylesheet" href="/show.css" />
</head>
<body>
    <nav>
        <a href="/seed">Back to Product Index</a>
    </nav>


    <h1> </h1>
    <%=seed.name %> 
    </br>

    <img src="<%=seed.img %>">

    </br>

    <p class="description"> <%=seed.description %> </p>

    </br>

    <p class="price">Price: <%=seed.price %> </p>
    
    </br>

    <p class="qty">Quantity: <%=seed.qty %> </p>

</br>

<button>Buy</button>

</html>

